/*-----------------
BUTTONS
 -----------------*/

/* Button: Ribbon toolbar */
#ext-relocalize-ribbontoolbar .image {
	width: 32px;
	height: 32px;
	background-image: url({ThemePath}Assets/relocalize-icon-32x32.png);
}
/* Button: Context menu */
#ext-relocalize-contextmenu .image {
	width: 32px;
	height: 32px;
	background-image: url({ThemePath}Assets/relocalize-icon-context-16x16.png);
}
/* Button : Next to component field*/
.relocalize-field {
    	background-image: url({ThemePath}Assets/relocalize-icon-16x16.png);
        height:16px;
        width:16px;
        position:absolute;
        left: 0px;
        display: block;
        z-index: 100;
}
/* Button : Next to component field : Differentiate state*/
.relocalize-field.relocalized{
    background-image: url({ThemePath}Assets/relocalize-icon-revert-16x16.png);

}
/* Button next : Specific for multi value component field*/
.input-with-bar .relocalize-field {
    top:4px;
    left:5px;
}
/* ButtonL Select */
.relocalize-select-button {

}
.relocalize-select-button.selected{
    background-color: #67B96C; /*green*/
    background-image: none;
}
.relocalize-select-button.selected span{
    color: white;
    text-shadow: none;
}

/*-----------------
GENERAL
 -----------------*/

/* textarea added to message box*/
.relocalize-code-text-area {
    margin-top: 10px;
    width: 95%;
    min-height: 37px;
    resize: none;
    padding: 5px;
}
/* reposition fields to make space for relocalize button*/
.fieldbuilder .field .input-with-bar.has-relocalize-field {padding-left:95px;}
.fieldbuilder .field .input-with-bar.has-relocalize-field .bar .move {left:67px;}
.fieldbuilder .field .input-with-bar.has-relocalize-field .bar .delete {left:44px;}
.fieldbuilder .field .input-with-bar.has-relocalize-field .bar .insert {left:22px;}